.body {
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(20deg, rgba(222, 184, 33, 0.7), #76adb0 98%);
  justify-content: center;
  display: flex;
  align-items: center;
}
.screen {
  background: linear-gradient(
    20deg,
    rgb(231, 171, 23) 3%,
    rgb(211, 183, 44) 40%,
    rgb(129, 175, 118) 77%
  );
  position: relative;
  overflow: hidden;
  width: 1311px;
  display: flex;
  height: 818px;
  border-radius: 30px;
  flex-direction: column;
  justify-items: center;
}
@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.show {
  transition: all ease-out 1s;
  transform: translateY(0);
}
.after {
  transition: all ease-out 1s;
  transform: translateY(-100%);
  animation: FadeOut 0.5s forwards;
}
.after2 {
  transition: all ease-out 1s;
  transform: translateY(-40%);
}
.before {
  transition: all ease-out 1s;
  transform: translateY(100%);
}
@keyframes fadeIn1 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 50px;
  }

  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes fadeIn2 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 93px;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    margin-top: 43px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@keyframes fadeIn3 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    margin-top: 50px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@keyframes fadeIn4 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    max-height: 92px;
  }
}
@keyframes fadeIn5 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }

  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    max-height: 92px;
  }
}
@keyframes drawing {
  0% {
    height: 0;
  }
  1% {
    height: 0;
  }
  100% {
    height: 155px;
  }
}
@keyframes fadeInDetail {
  0% {
    display: none;
    color: #ddd;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    max-height: 152px;
  }
}
.car-position-1 {
  transform: translate(0, 0);
}
.car-position-2 {
  transform: translateX(-185px);
}
.car-position-3 {
  transform: translate(-150px, -250px) scale(0.8);
}
@keyframes tendFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tent-position-1 {
  transition: 0.5s;
  transform: translateX(200px);
}
.tent-position-2 {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(-30px);
}
.tent-position-3 {
  transform: translate(-90px, -230px) scale(0.8);
  opacity: 1 !important;
  visibility: visible !important;
}
.scrollbar-position-1 {
  opacity: 0;
}
.scrollbar-position-2 {
  opacity: 1;
}
.scrollbar-item-position-2 {
  transform: translateY(75px);
  opacity: 1 !important;
}
