.body {
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(20deg, rgba(222, 184, 33, 0.7), #76adb0 98%);
  justify-content: center;
  display: flex;
  align-items: center;
}
.screen {
  background: linear-gradient(
    20deg,
    rgb(231, 171, 23) 3%,
    rgb(211, 183, 44) 40%,
    rgb(129, 175, 118) 77%
  );
  position: relative;
  overflow: hidden;
  width: 1311px;
  display: flex;
  height: 818px;
  border-radius: 30px;
  flex-direction: column;
  justify-items: center;
}
@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.show {
  transition: all ease-out 1s;
  transform: translateY(0);
}
.after {
  transition: all ease-out 1s;
  transform: translateY(-100%);
  animation: FadeOut 0.5s forwards;
}
.after2 {
  transition: all ease-out 1s;
  transform: translateY(-40%);
}
.before {
  transition: all ease-out 1s;
  transform: translateY(100%);
}
@keyframes fadeIn1 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 50px;
  }

  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes fadeIn2 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 93px;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    margin-top: 43px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@keyframes fadeIn3 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    margin-top: 50px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@keyframes fadeIn4 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    max-height: 92px;
  }
}
@keyframes fadeIn5 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }

  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    max-height: 92px;
  }
}
@keyframes drawing {
  0% {
    height: 0;
  }
  1% {
    height: 0;
  }
  100% {
    height: 155px;
  }
}
@keyframes fadeInDetail {
  0% {
    display: none;
    color: #ddd;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    max-height: 152px;
  }
}
.car-position-1 {
  transform: translate(0, 0);
}
.car-position-2 {
  transform: translateX(-185px);
}
.car-position-3 {
  transform: translate(-180px, -270px) scale(0.8);
}

.tent-position-1 {
  transition: 0.5s;
  transform: translateX(80px);
}
.tent-position-2 {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(-20px);
}
.tent-position-3 {
  transform: translate(-90px, -230px) scale(0.8);
  opacity: 1 !important;
  visibility: visible !important;
}
.scrollbar-position-1 {
  opacity: 0;
}
.scrollbar-position-2 {
  opacity: 1;
}
.scrollbar-item-position-2 {
  transform: translateY(75px);
  opacity: 1 !important;
}
.ground-pos-1 {
  height: 40%;
}
.ground-pos-2 {
  height: 45%;
  background: linear-gradient(
    360deg,
    rgba(228, 158, 25, 1) 0%,
    rgb(221, 181, 51) 30%,
    rgba(216, 189, 53, 1) 100%
  );
}
.ground-pos-3 {
  height: 80%;
  background: linear-gradient(
    360deg,
    rgb(245, 167, 23) 0%,
    rgb(235, 187, 31) 60%,
    rgba(216, 189, 53, 1) 100%
  );
}
.overlay-pos-1 {
  opacity: 0;
  height: 0;
}
.overlay-pos-2 {
  opacity: 0.2;
  height: 30%;
}
@keyframes SlideIn {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(-1500px);
  }
}
.road-box-1 {
  position: absolute;
  width: 1080px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  transform: rotate3d(16, -10, 11, 105deg);
  /* transform: rotate3d(19, -11, 11, 97deg); */
  overflow: hidden;
  left: 100px;
  top: 20px;
  transition: 0.5s;
  opacity: 1;
}
.road-box-2 {
  position: absolute;
  width: 1080px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  transform: rotate3d(26, -10, 11, 95deg);
  overflow: hidden;
  left: 100px;
  top: 20px;
  transition: 0.5s;
  opacity: 1;
}
.road-box-hidden {
  display: none;
}
.road-line {
  width: 60%;
  height: 40px;
  background: #fff;
  opacity: 0.4;
  animation: SlideIn 0.8s infinite;
}
.line-1 {
  position: absolute;
  top: 57%;
  right: 6%;
}
.line-2 {
  position: absolute;
  top: 31%;
  right: 6%;
}
.camp-position-1 {
  transition: 0.5s;
  transform: translateX(80px);
}
.camp-position-2 {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(-20px);
}
.camp-position-3 {
  transform: translate(-75px, -310px) scale(0.7);
  opacity: 1 !important;
  visibility: visible !important;
}
